{
  "extends": "@antfu",
  "rules": {
    "curly": ["error", "multi-line"],
    "semi": ["error", "always"],
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      }
    }]
  }
}